<template name="home">
  <div class="template-home">
    <div class="col s12">
      <p class="center-align grey-text text-darken-3 dailyHeaderText">Year Of Biblical Literacy</p>
      <div class="card white">
        <div class="card-content">
          <span class="card-title grey-text text-darken-3">Know Your Bible.</span>
          <p class="flow-text">
            Truly knowing your Bible through the practice of reading your Bible has become a lost art, and it seems we are becoming illiterate when it comes to the Bible. We believe the Scriptures are God’s self-revelation and self-disclosure; therefore, knowing and responding to Scripture is vastly important. The Year of Biblical Literacy is a collaborative project between The Bible Project, Bridgetown Church, and Reality SF to teach a new generation to know and love the Scriptures.
          </p>
        </div>
      </div>
    </div>
  </div>
  <footer class="grey-text text-darken-3" style="font-weight: 300;">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <p class="">
            Scripture taken from The Holy Bible, English Standard Version. Copyright &copy;2001 by Crossway Bibles, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. Text provided by the Crossway Bibles Web Service.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="grey-text text-darken-3" href="mailto:brentengust@gmail.com?subject=YOBL app">Brenten Lovato</a>
      </div>
    </div>
  </footer>
</template>
