<template name="userStats">
  <div class="row valign-wrapper" style="height: 125px; width: 100%; margin-bottom: 0;">
    <div class="col s3 right-align" >
      <p class=" progressLabel">Progress of All {{usersLength}} YOBL'ers</p>
    </div>
    <div class="col s3" style="padding-left:0;">
      <div style="width:75px; height: 75px;">
        <div id="progressCircleAll" style="height: auto;"></div>
      </div>
    </div>
    <div class="col s3 right-align" >
      <p class="progressLabel">My Progress</p>
    </div>
    <div class="col s3" style="padding-left:0;">
      <div class="" style="width:75px; height: 75px;">
        <div id="progressCircleUser" style="height: auto;"></div>
      </div>
    </div>
  </div>
</template>